---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome homepage subtitle</h2>
  <!-- Loan client and set messages to be displayed by the Greeting component -->
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
